<footer style="margin-top: 65px;">
<ul class="languages">
    <li> <a href="">Français (France)</a></li>
    <li> <a href="">English (US)</a></li>
    <li> <a href="">Español</a></li>
    <li> <a href="">Português (Brasil)</a></li>
    <li> <a href="">العربية</a></li>
    <li> <a href="">Deutsch</a></li>
    <li> <a href="">Italiano</a></li>
</ul>

<hr>

<ul>
    <li> <a href="../includes/register.php">S'inscrire</a></li>
    <li> <a href="../includes/auth.php">Se connecter</a></li>
    <li> <a href="https://www.messenger.com/" target="_blank" rel="noopener noreferrer">Messenger</a></li>
    <li> <a href="https://www.facebook.com/lite/" target="_blank" rel="noopener noreferrer">Facebook Lite</a></li>
    <li> <a href="https://www.facebook.com/watch/" target="_blank" rel="noopener noreferrer">Video</a></li>
    <li> <a href="https://www.meta.com/pay/" target="_blank" rel="noopener noreferrer">Meta pay</a></li>
    <li> <a href="https://www.meta.com/shop/" target="_blank" rel="noopener noreferrer">Boutique Meta</a></li>
    <li> <a href="https://www.meta.com/quest/" target="_blank" rel="noopener noreferrer">Meta Quest</a></li>
    <li> <a href="https://www.meta.com/rayban/" target="_blank" rel="noopener noreferrer">Ray-Ban Meta</a></li>
    <li> <a href="https://www.meta.com/ai/" target="_blank" rel="noopener noreferrer">Meta AI</a></li>
    <li> <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
    <li> <a href="https://www.threads.net/" target="_blank" rel="noopener noreferrer">Threads</a></li>
    <li> <a href="https://www.meta.com/legal/privacy/fr_FR/" target="_blank" rel="noopener noreferrer">Politique de confidentialité</a></li>
</ul>
</footer>