<header>
    <div class="flexDivIcon searchZone">
        <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="facecook-logo" width="30">
        <p style="position: relative;">
            <i data-lucide="search" id="search-icon"></i>
            <input type="text" id="search" placeholder="Rechercher sur facebook">
        </p>
    </div>
    <div class="top-nav flexDivIcon" style="gap:0;">
        <div><i data-lucide="home"></i></div>
        <div><i data-lucide="users"></i></div>
        <div><i data-lucide="user-circle"></i></div>
    </div>
    <div class=" flexDivIcon left-nav" style="gap: 0;">
        <p class="find-friends">Trouvez vos ami(e)s</p>
        <div><box-icon type='solid' name='grid' style="transform: scale(1.4);"></box-icon></div>
        <div><box-icon name='bell' type='solid' animation='' style="transform: scale(1.4) translateY(2px);"></box-icon></div>
        <div><i class='bxl bx-messenger'></i></div>
        <div id="disconnect"><box-icon type='solid' name='user-circle' style="transform: scale(1.4) translateY(2px);"></box-icon></div>
   </div>
</header>

<script>
    lucide.createIcons();
    feather.replace();
</script>
