#friends .sidebar{
  padding: 0 10px;
  width: 23%!important;
  box-shadow: 0 0 10px 0 rgba(122, 122, 122, 0.79);
  position: relative;
  height: calc(100% - 15px);
  padding-top: 15px;
}

#friends li{
  list-style-type: none;
  border-radius: 5px;
  padding: 7px 7px;
  margin: 5px 0;
  cursor: pointer;
}
#friends h3{
  font-weight: 500;
}

#friends li:hover{
  background: rgb(207, 207, 207);
}
    
#friends main{
  display: flex;
  padding-top: 60px;
  height:calc(100vh - 60px  );
  transition: none;
}
#friends section.main{
  padding:20px 40px;
}

#friends .suggestion{
  width: 220px;
  margin: 15px 0 10px;
}
#friends button{
  width: 90%;
  margin: 10px auto;
}
#friends button.add{
  background-color:rgba(205, 220, 247, 0.53);
  color: #0064d1;
}
#friends button.remove{
  background-color:rgba(229, 230, 233, 0.85);
  color: #000;
}
.rounded-icon{
  padding: 5px;
  transform: scale(1.1);
  border-radius: 100%;
  cursor: pointer;
}
.invit-aside{
  width: 23%;
  padding: 20px 10px;
  box-shadow: 0 0 10px 0 rgba(62, 62, 62, 0.7);
  display: flex;
  flex-direction: column;
  gap:10px;
  min-height: calc(100vh - 120px);
  overflow-y: auto;
}
.depliant-icon{
  fill: rgba(128, 128, 128, 0.7);
  stroke: rgba(128, 128, 128, 0.7);
  transform: scale(0.8);
  cursor: pointer;
}
.depliant-icon:hover{
  fill: rgba(36, 36, 36, 0.74);
  stroke: rgba(36, 36, 36, 0.74);
}

.invit-close{
  height: 0;
  display: none;
}

.friend{
  border-radius: 10px;
  margin: 8px 0;
  padding: 10px 10px;
  cursor: pointer;
}
.invitation{
  margin: 8px 0;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.friend:hover, .invitation:hover{
  background-color:  rgba(181, 181, 181, 0.72);
}

.this-profil{
  width: 77%;
  height: 100%;
  display: flex;
}

#find-friends{
  border-radius: 20px;
  width: calc(93% - 50px);
  padding: 10px 10px 10px 40px;
  background-color: #d7d9dc92;
  margin: 10px auto;
  font-size: 1em;
  display: block;
  box-shadow: none;
}
.personals-options li{
  padding: 10px !important;
  border-radius: 20px;
}
.personals-options{
  margin: 20px 0;
}