header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
#search{
    border-radius: 50px;
    font-size: 0.9em;
    padding:10px 15px 10px 40px;
}
.flexDivIcon div{
    padding: 17px 45px;
}
.top-nav div:hover{
    background-color: #e4e6eb;
}
.searchZone{
    margin-left: 10px;
    gap: 10px;
}
#search-icon{
    position: absolute;
    top: 24%;
    left: 4%;
    color:gray;
}
.bxl{
    width: 24px;
    height: 24px;
    display: flex;
    padding: 2px 1px;
    align-items: center;
    justify-content: center;
}
.bxl:before{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(2);    
    border-radius: 100%;
    padding: 4px;
}

.left-nav div, .find-friends{
    border-radius: 30px;
    padding: 12px 15px;
    background: #b8b5b57a;
    margin: 5px 0;
    cursor: pointer;
}
.find-friends{
    margin-right: 5px;
}
.left-nav div{
    transform: scale(0.8) ;
}
.left-nav div:hover, .find-friends:hover {
    background: #5d5a5a7a;
    opacity: 0.8;
}
.divIconBorder{
    background:var(--bg-button-primary);
    width: 113.5px;
    height:4px;
    position: absolute;
    z-index: 3;
    display: none;
} 

main{
    display: flex;
}
aside{
    height: 100%;
    width: 25%;
}
.chat-container{
    width: 97%;
    height: 100%;
    background-color: rgba(205, 199, 199, 0.655);
    border-radius: 10px;
    margin:15px auto;
}
.chat-container .head{
    border-bottom: solid 1px gray;
    padding:10px;
}
.chat-container .head svg{
    display: flex;
    transform: scale(1.5);
}

.post-content{
    max-height: 50px;
    text-align: left;
    margin:5px 0;
}
.interactions div{
    width: calc(100% / 3);
    padding:5px 0;
}

/* home template */

/* header */
.profil-contextuel{
    box-shadow: 0 0 15px 0 rgba(158, 156, 156, 0.64);
    background: white;
    border-radius: 15px;
    padding: 20px 10px 10px;
    display: none;
    position: absolute; 
    right:10px; top:50px;
    z-index:1000;
}
.top-nav div{
    cursor: pointer;
}
.accoutDivOptions li{
    padding: 15px 80px 15px 20px;
}
.accoutDivOptions{
    margin-top: 10px;
}
.profils{
    box-shadow: 0 0 10px 0 rgba(158, 156, 156, 0.64);
    width: 90%;
    margin: auto;
    border-radius: 15px;
    padding:10px;
}
.profils .user{
    padding:10px; 
    border-radius: 10px;
    justify-content: flex-start;
}
.profils .user:hover{
    background: rgb(215, 215, 215);
}
.bIcon{
    width:30px;
    height: 30px;
    padding: 0 !important;
}
header{
    position: fixed;
    top: 0;
    z-index:10000;
    background-color: white;
}

/* end header */


/* main-section */

aside{
    height: 100%;
    background-color: var(--bg-secondary);
    width: 25%!important;
    position: fixed;
}


.modal #post-text{
    border:none;
    resize:none;
    scrollbar-width: none;
    width: calc(100% - 40px);
    padding: 10px 20px;
    height:80px;
    font-size:1.5em;
    outline:none;
}

.changed-color{
    text-align:center;
    font-size:2em;
    margin-top:10px;
    font-weight:bold;
    color:white;
}
.cancel-icon{
    background:#e2e5e9; 
    padding:5px; 
    border-radius:50%; 
    cursor:pointer; 
    position: absolute;
    right:20px; top:25%;
    z-index:5;
}
.post-media{
    border-radius: 10px;
    margin: 10px 20px;
    width: calc(100% - 40px);
    max-height: 490px;
}
.media-loaded{
    max-height: 490px;
    width: calc(100% + 20px);
    transform: translateX(-10px);
    margin:10px auto;

}
.file-and-caption{
    max-width: 100%;
    /* overflow-x: hidden; */
    max-height: 350px;
    overflow-y: auto;
    scrollbar-width: none;
    margin-bottom: 7px;
}
.modal #post-text::placeholder{
    color:rgb(88, 88, 88);
}
.add-type{
    border-radius:10px;
    padding:10px 20px;
    border:solid 1px gray;
    width: calc(100% - 80px);
    margin:20px !important;
}
.background{
    border-radius: 5px;
    background:linear-gradient(to right, rgb(212, 49, 49), rgb(255, 255, 93));
    height:30px;
    width: 30px;
    font-weight: 600;
    color: purple;
    box-shadow: 0 0 10px rgb(205, 199, 199);
    cursor: pointer;
}
.visibility{
    width:max-content;
    padding:5px;
    background: rgba(190, 189, 189, 0.67);
    border-radius: 5px;
    width:100px;
    height:20px;
    font-size:0.9em;
    font-weight:500;
    transform: scale(0.8) translateX(-8px);
}
.modal{ 
    position: absolute;
    background-color: white;
    width: 550px!important;
    left:calc((100vw - 550px)/2);
    z-index: 15;
    display: none;
    margin: auto;   
}

.color{
    border-radius:5px;
    padding: 0!important;
    height: 30px;
    width: 30px;
}
.groups{
    padding: 10px;
    width: 90%;
}
section.main-section{
    width: 50%;
    margin: 0 auto 10px;
    transform: translateX(-20px);
    position: relative;
    top:60px;
}
.home-top-post, .post{
    padding: 10px;
    width: 80%;
    margin: 20px auto;
}
.home-top-post .options{
    padding:10px;
    cursor: pointer;
    border-radius: 10px;
    width: calc(100%/3 - 10px);
    font-weight: 600;
    color:rgb(69, 68, 68);
}
.home-top-post .options:hover{
    background-color: rgba(176, 176, 176, 0.64);
}
.home-top-post .story{
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}
.home-top-post .story:hover{
    background-color: rgba(215, 215, 215, 0.68);
}
.options-post{
    border-radius:10px;
    background-color: white;
    width: max-content;
    margin: 10px;
    width: 250px;
    box-shadow: 0 0 20px 0 rgba(139, 136, 136, 0.59);
}

.post-colored-background{
    height:260px;
    max-height:350px;
    font-size:2rem;
    margin:10px 0;
    padding:20px;
    width: calc(100% - 20px);
    transform: translateX(-10px);
}

.liked{
    fill: rgb(66, 66, 255);
    stroke: rgb(66, 66, 255);
    animation: like 1.5s ease 0s forwards;
}

@keyframes like {
    0%{transform: scale(1) rotate(0);}
    50%{ transform: scale(1.1) rotate(-30deg);}
    100%{ transform: scale(1) rotate(0)}
}

/* end main-section */
@media (max-width: 750px) {
    header{
        flex-direction: column;
    }
    #search{
        width: 100%;
        margin: 15px 0;
    }
    .searchZone{
        width: 100%;
        margin:0;
        display: flex;
    }
    .searchZone p{
        display: flex;
        width: 70%;
    }
    
    #search-icon{
        top:28%;
        left:2%;
    }
    
}
@media (max-width: 450px) {
    
}



