:root{
    --bg-primary: #fff;
    --bg-secondary: #f0f2f5;
    --bg-tertiary: #272222;
    --bg-button-primary:rgb(77, 118, 255);
    --bg-button-secondary:rgb(39, 181, 60);
    --webkit-link:#385898;
}
*{
    margin:0;
    padding:0;
    transition:all 0.5s ease;
}
body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--bg-secondary);
    overflow-x: hidden; 
}
button{
    display: block;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--bg-primary);
    cursor: pointer;
    background:var(--bg-button-primary);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    width: max-content;
    margin:15px auto;
    transition:all 0.5s 0s ease;
}
button:hover{
    opacity: 0.8;
    box-shadow: none;
}

form{
    box-shadow: 0 0 15px 0 rgba(11, 11, 11, 0.3);
    border-radius: 10px;
    width:400px;
    margin:10px auto 30px;
    padding: 20px;
}
input:not([type="radio"]){
    border:solid 3px transparent;
    border-radius: 5px;
    width: calc(100% - 40px);
    padding: 15px;
    font-size: 1.1em;
    margin: 10px auto;
    transition: all ease 0.5s 0s;
    outline: none;
    box-shadow: 0 0 2px 0 rgb(54, 53, 53,0.8);
    height: 10px;
}

/* connexion and register */
.forgot-password{
    color: var(--bg-button-primary);
    cursor: pointer;
}
.forgot-password:hover{
    opacity:0.8;
}
input:focus{
    border:solid 3px var(--bg-button-primary)
}
form div{
    width: 100%;
}
hr{
    margin: 10px;
}
.flexDivIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.flexDivIcon svg{
    transform: translateY(2px);
}
select{
    font-size: 1em;
    margin: 10px 2px;
    width: calc((100% - 25px)/3);
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 2px 0 rgb(54, 53, 53,0.8);
    outline: none;
    cursor: pointer;
}
.gender-label{
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgb(54, 53, 53,0.8);
    width: calc((100% - 25px)/3);
    padding: 10px;
    border-radius: 5px;
}
.other-gender{
    display: none;
}
.other-gender.active{
    display: block;
}
#login-btn{
    cursor: pointer;
    color:var(--bg-button-primary);
    font-size:1.2em;
    margin-top: 10px;
}
#login-btn:hover{
    opacity:0.8;
    text-decoration: underline;
}
/* register */
form{
    width: 450px;
    background:white;
}
/* footer */
footer{
    padding: 10px;
    box-shadow: 0 0 15px 0 rgba(11, 11, 11, 0.3);
    border-radius: 10px;
}
footer ul{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    font-size: 14px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: gray;
}
a:hover{
    text-decoration: underline;
}
form a{
    color:var(--webkit-link);
}
/*  */

